@import '_vars';

body {
    background-color: $black;
}
h1, h2, h3, h4 {
    color: $white;
    font-family: $main-font;
    font-weight: bolder;
}

p {
    font-weight: bold;
    font-family: $second-font;
    font-size: 1.2em;
    color: $white;
}

.svg-con {
    width: 100%;
    height: 100%;
}

//Header
header {
    background-color: $white;
    padding: 1em;
}

header h1 {
    color: $black; 
    font-size: 2em;
    margin-top: 1.2em;
    margin-bottom: 15px;
}

header h2 {
    color: $black;
    font-size: 1.5em;
    padding-bottom: 2em;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid $white;
    margin: 1em 0;
    padding: 0;
}

#logo {
    margin-bottom: 1.5em;
}

//Number
#section1 {
    margin: 1em;
}

#countdown {
    font-size: 11em;
    color: $white;
}

@media (min-width: 700px) { 
    #countdown {
        margin-left: 0.5em;
    }
 }

 @media (min-width: 992px) { 
    #countdown {
        margin-left: 0.5em;
    }
 }

//Rankin

#rankinInfo {
    border: 2px solid $white;
    height: 100%;
    background-color: $red;
    padding: 1em;
}


@media (min-width: 700px) { 
    #rankinInfo {
        margin-top: 4em;
    }
 }

#rankin:hover circle {
    cursor: pointer;
}

//Girl stats
#section2 {
    margin: 1em;
}

#section2 p {
    padding-bottom: 10px;
}

//Homicide stats
#section3 {
    margin: 1em;
}

#section3 h2 { 
    color: $white;
}

//Section 4
#section4 {
    margin: 1em;
}

#section4 h2 {
    color: $white;
}

//Map CSS
#BC:hover path {
    cursor: pointer;
    fill: $red;
}

#AB:hover path {
    cursor: pointer;
    fill: $red;
}

#MB:hover path {
    cursor: pointer;
    fill: $red;
}

#SK:hover path {
    cursor: pointer;
    fill: $red;
}

#ON:hover path {
    cursor: pointer;
    fill: $red;
}

#QC:hover path {
    cursor: pointer;
    fill: $red;
}

#NL:hover path {
    cursor: pointer;
    fill: $red;
}

#NS:hover path {
    cursor: pointer;
    fill: $red;
}

#NB:hover path {
    cursor: pointer;
    fill: $red;
}

#PE:hover path {
    cursor: pointer;
    fill: $red;
}

#NU:hover path {
    cursor: pointer;
    fill: $red;
}

#YT:hover path {
    cursor: pointer;
    fill: $red;
}

#NT:hover path {
    cursor: pointer;
    fill: $red;
}

#mmiwInfo {
    margin-top: 2em;
    padding: 1em;
    border: 2px solid $white;
    height: 100%;
    background-color: $red;
    margin-bottom: 2em;
}

#mmiwInfo h4 {
    font-size: 1.5em;
    color: $white;
}

//Section 5 + Footer
#section5, footer {
    padding: 1em;
    background-color: $white;
}

#section5 h1, h2, h3, h4 {
    color: $black;
}

#section5 h2 {
    font-weight: bolder;
}

#section5 p {
    font-weight: bold;
    font-size: 1.2em;
    color: $black;
}

.data-res {
    cursor: pointer;
}

footer p {
    color: $black;
    font-size: 0.5em;
}
