@import '_vars';

body {
    background-color: $black;
}
h1, h2, h3, h4, p {
    color: $white;
    font-family: $main-font;
}

p {
    font-weight: bold;
}

.svg-con {
    width: 100%;
    height: 100%;
}

//Header
header {
    background-color: $white;
}

header p {
    color: $black; 
    font-size: 1.2em;
    margin-bottom: 0;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid $white;
    margin: 1em 0;
    padding: 0;
}

#logo {
    margin-bottom: 1.5em;
}

//Number
#section1 {
    margin: 1em;
}
#countdown {
    font-size: 11em;
    color: $white;
}

//Rankin

#rankinInfo {
    border: 2px solid $white;
    height: 100%;
}

#rankin:hover circle {
    cursor: pointer;
}

//Girl stats
#section2 {
    margin: 1em;
}

//Number stats
#section3 {
    margin: 1em;
}

//Map
#section4 {
    margin: 1em;
}
//Map CSS
#BC:hover path {
    cursor: pointer;
    fill: $red;
}

#AB:hover path {
    cursor: pointer;
    fill: $red;
}

#MB:hover path {
    cursor: pointer;
    fill: $red;
}

#SK:hover path {
    cursor: pointer;
    fill: $red;
}

#ON:hover path {
    cursor: pointer;
    fill: $red;
}

#QC:hover path {
    cursor: pointer;
    fill: $red;
}

#NL:hover path {
    cursor: pointer;
    fill: $red;
}

#NS:hover path {
    cursor: pointer;
    fill: $red;
}

#NB:hover path {
    cursor: pointer;
    fill: $red;
}

#PE:hover path {
    cursor: pointer;
    fill: $red;
}

#NU:hover path {
    cursor: pointer;
    fill: $red;
}

#YT:hover path {
    cursor: pointer;
    fill: $red;
}

#NT:hover path {
    cursor: pointer;
    fill: $red;
}

#mmiwInfo {
    margin-top: 2em;
    border: 2px solid $white;
    height: 100%;
}

#mmiwInfo h4 {
    font-size: 1.5em;
}


//Footer 
footer {
    margin: 1em;
}